.loading{
    margin: 0rem 1.5rem !important;
}
.headerDetail{
   
    padding: 1rem !important;
    border-bottom:1px solid #e8e8e8 !important; 
    display : inline-flex !important;
    width:100% !important;
}
.searchContainer{
    position: relative;
    float: right;
    width:38% !important;
    overflow: auto;
}
.orderTitleContainer{
    
    width:59% !important;
    text-align: left !important;
    position: relative;
    overflow: auto;
}
.search{
    float: right;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: #f8f8f8;
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  */
}

::-webkit-scrollbar-thumb {
  background-color: #F0F2F5;
  border: 1px solid #e8e8e8;
  border-radius: 6px;
  /* 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);  */
}